igdb-api-v4==0.0.5  # version 0.0.4 had f-strings which are incompatible with Python 2.7
#PlexAPI==4.2.0  # modified version to support Python 2.7 AND uploading theme songs, wait until https://github.com/pkkid/python-plexapi/pull/864 is merged/released before modifying again
requests<=2.27  # 2.27 is last version supporting Python 2.7
rsa==4.7
